:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  /* Vibrant and contrasting colors */
  --primary-bg-color-light: #ffffff;
  --primary-bg-color-dark: #121212;
  --primary-text-color-light: #213547;
  --primary-text-color-dark: #e0e0e0;
  --secondary-text-color-light: #555;
  --secondary-text-color-dark: #aaa;
  --primary-accent-color: #646cff;
  --button-bg-light: #f9f9f9;
  --button-bg-dark: #1a1a1a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg-color-dark);
  color: var(--primary-text-color-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--primary-bg-color-light);
    color: var(--primary-text-color-light);
  }

  body {
    background-color: var(--primary-bg-color-light);
    color: var(--primary-text-color-light);
  }

  button {
    background-color: var(--button-bg-light);
  }
}